.wrapper {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}
.container {
    height: 100vh;
}

.center{
    text-align: center;
}

.headingWrapper{
    padding-top: 100px;
}

.header {
    color: white;
}

.margin{
    margin: 15px;
}